//CSS FOR FACTIGIS_BACKOFFICE 2/3
$colorBackground: #2e353f;
$colorCHQRED: #da291c;
$colorGray: #808095;

a {
    color: $colorCHQRED;
}

#myFactigis_BackOffice {
  background-color: #ffffff;
}

#BMToggle{
  display: flex;
  position: absolute;
  z-index: 5;
  margin-left: 1em;
  align-self: flex-end;
  padding-bottom: 1em;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('images/Preloader_3.gif') 50% 50% no-repeat rgb(249,249,249);
}

.factigisBO_top{
  display: flex;
  width: 100%;
  background-color: #ffffff;
  justify-content: space-between;
  position: absolute;
}

.factigisBO_imgLoader{
  margin-left: 1em;
  flex-direction: row;
}

.factigisBO_table{
  display: flex;
  width: 100%;
  margin-top: 0px;
}

.wrapper_factigisBO{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-content: center;
}

.griddle th  input{
  width: 80%;
}

div strong{
  font-size: 12px;
}

.factigis_bo1-h2{
  background-color: inherit;
  margin-top: 0px;
  padding-top: 0.7em;
  padding-left: 0.5em;
  font-weight: 100;
  color: ghostwhite;
  font-size: medium;
}

.factigis_bo1-h1{
  background-color: $colorBackground;
  color: ghostwhite;
  margin-top: 0px;
  padding-top: 0.5em;
  padding-left: 0.5em;
  font-size: larger;
  font-weight: 100;
  padding-bottom: 0.3em;
  display: flex;
  width: 100%;
  box-shadow: 0px 1px 5px rgb(121, 132, 142);
  border-bottom: 1px solid #ddd;

}

.factigis_h1_edited{
  justify-content: center;
}
.wrapper_top{
  display: flex;
  width: 100%;
  background-color:  #282d2d;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
}



.wrapper_mid{
  display: flex;
  width: 100%;
  flex-direction: row;

}
.wrapper_mid-left{
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  flex-direction: column;
  background: ghostwhite;
  align-items: stretch;
  justify-content: space-between;
  margin: 0em;
}

.wrapper_mid-split {
  display: flex;
}

.wrapper_mid_splitbot{
  margin-bottom: 2em;
}

.wrapper_mid-split-1{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 1em;
  margin-bottom: 1em;
}

.factigisBO_wrapper_mid-right{
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: ghostwhite;
}


.factigis_bo1_map{
  height: 70%;
  display: flex;
  //flex-wrap: wrap;
}

.factigisBO_wrapper_bot{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #314658;
  bottom: 0px;
  position: relative;
  padding-bottom: 1em;
  padding-top: 0em;
}

.wrapper_bot_title{
  display: flex;
  width: 100%;
}

.wrapper_bot_content {
  display: flex;
  flex-direction: row;
  width: 98%;
  align-self: center;
}

.factigis_bo1_wrapper-zonas{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em;
}

.marginRight05{
  margin-right: 0.5em;
}
.factigis_bo1_cbEstado{
  width: 20%;
}


.factigisBO1_body{
  background-color:  #314658;
}

.factigis_bo1-b{
  margin-left: 0.3em;
}

.factigis_bo1-h8{
  color: ghostwhite;
  display: flex;
  align-items: center;
  margin-right: 1em;
  font-weight: 600;
}

.ReactModalPortal{
  z-index: 5;
  position: absolute;
}

.standard-row{
  font-size: smaller;
}


//02/11/2016
.factigis_rows{
  display: flex;
flex-direction: row;
justify-content: center;
}

.factigis_row1{
  display: flex;
flex-direction: column;
margin-left: 1em;
}

.factigis_row2{
  display: flex;
    flex-direction: column;
    //width: 30%;
    width: 20%;
    margin-left: 1em;
}

.factigis_row3{
  display: flex;
flex-direction: column;
justify-content: flex-end;
margin-left: 1em;
}

.factigis_bo_btnModified{width: 100px; height: 36px;}

.factigis_bo_txt{height: 36px;margin-right: 1em;}

.factigis_obsText{
  width: 50%;
}

.DayPickerInput{
  Z-INDEX: 5;
}
