//CSS Code for Dashboard
//for loader icon.
$colorBackground: #2e353f;
$colorCHQRED: #da291c;
$colorGray: #808095;

//30012017 new
.wrapperTop{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 6.4rem;
  justify-content: space-between;
}

.logo_content{
  display: flex;
}

.img_logo{
  width: 8em;
  margin: 1em;
}

.welcome_logout_wrapper{
  display: flex;
  align-items: center;
}

.theme__appBar___b1hGI{
      height: 4.4rem;
}

.breadcrumbs_custom{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_dashboard{
  color: white !important;
}
//still here


  a {
      color: $colorCHQRED;
  }
  .loader {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: url('images/Preloader_3.gif') 50% 50% no-repeat rgb(249,249,249);
	}

  a:focus, a:hover {
      color: #4b89bf;
      text-decoration: underline;
  }

  .factigisDashboard-title{
    display: flex;
    color: $colorBackground;
    justify-content: center;
  }

  .factigisDashboard-titleleft{
    color: $colorGray;
    font-size: -webkit-xxx-large;
    font-weight: 700;
  }
  .factigisDashboard-titleright{
      color: $colorCHQRED;
      font-size: -webkit-xxx-large;
      font-weight: 700;
  }

  .factigisDashboard-subtitle{
    color: $colorGray;
    font-family: arial;
    letter-spacing: 10px;
    font-size: large;
  }

  .factigisDashboard-a{
    display: flex;
    color: #808095;
    font-weight: 500;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
  }

  .factigisDashboard-icons{
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 1em;
    margin-right: 5em;
    margin-left: 5em;
  }
  .dashboard_whoLogged{
    right: 1em;
    top: 0;
    margin-right: 0.5em;
    padding: 0;
    margin-top: 2px;
  }

  .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 0px;
    background: #fff;
    //border-bottom: 1px solid #ddd;
    height: 40px;
    box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
    -webkit-box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
    -moz-box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
    -webkit-backface-visibility: hidden;
  }

  .dashboard_factibilidadTop{
    display: flex;
    flex-direction: row;
    background-color: #e8e8e8;
    justify-content: space-between;
  }

  .dashboard_navElements{
    display: flex;
      flex-direction: row;
  }

  .dashboard_whologged{
    display: flex;
    align-self: center;
    margin-right: 1em;
  }

  .bodyfactigisdashboard{
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: $colorBackground;
  }

.wrapper_factigisDashboard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;

    justify-content: center;
    width: 100%;
    padding: 0;
    margin-top: 10em;

  }

  .factigisDashboard_moduleContainer{
    display: flex;
    list-style: none;
    height: 10em;
    width: 25%;
    padding-left: 2em;
    padding-bottom: 3em;
    align-items: center;
    padding-top: 3em;
    margin: 1.5em;
    -webkit-box-shadow: 0px 0px 55px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 55px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 55px 2px rgba(0,0,0,0.75);
  }

  .navbar{
    margin-bottom: 0;
  }
  .navbar-default{
    width: 100%
  }

  .factigis_whologged{
    margin-right: 1em
  }

  .factigisDashboard-aLink{
    text-decoration: none;
    font-family: arial;
    color: white;
    font-weight: bolder;
  }

  .factigisDashboard-divimg{
    width: 6em;
    height: 6em;
    margin-right: 1em;
    margin-left: 0em;
  }

  .factigisDashboard-img{
    width: 10em;
  }

  .factigisDashboard-img-special{
    width: 7em;
  }

  .factigis_navElements{
    display: flex;
    align-items: center;
  }

  .dashboard_top_right{
    display: flex;
    right: 0;
    position: absolute;
    align-items: center;
    padding: 0;
    top: 0;
  }

  .btnLogoff{
    color: $colorCHQRED;
    background-color: #ffffff;
    border-color: $colorGray;
  }

  .btn-info:hover {
    color: #fff;
    //background-color: #2e353f;
    background-color: $colorBackground;
  }

  @media (min-width: 320px) and (max-width: 480px) and (orientation: portrait){
    .factigisDashboard-subtitle{
      font-size: smaller;
    }

    .breadcrumb{
      font-size: x-small;
    }

    .breadcrumb>li{
      margin-top: 4px;
    }
    .wrapper_factigisDashboard{
      margin-top: 1em;
    }

    .factigisDashboard-divImgCenter{
      align-self: center;
    }

    .factigisDashboard-img {
      width: 5em;
    }

  }
